@{
    ViewBag.Title = "Accueil";
}

<h1 class="header center red-text">Accueil</h1>
<div class="center">
    <h5 class="header col s12 light">Page d'accueil de l'application de messagerie instantannées CHAT - UP</h5>
</div>
<div class="center">
    @Html.ActionLink("S'inscrire", "Inscrire", "Utilisateur", new { area = "" }, new { @class = "btn-large waves-effect waves-light red", @id = "download-button" })
    @Html.ActionLink("Se connecter", "Login", "Utilisateur" , new { area = "" }, new { @class = "btn-large waves-effect waves-light red", @id = "download-button" })
</div>