@model ChatUp.Models.GroupeModel

<table>
    <tbody>
        @foreach (var msg in Model.ListeMessages)
        {
            string date = msg.DateEnvoi.ToShortTimeString();

            if (msg.AuteurContenu.Email == HttpContext.Current.User.Identity.Name)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td class="bubble me z-depth-1">
                        <div>
                            <i class="material-icons">person_pin</i>
                            @*<img src="" alt=@msg.AuteurContenu.Profil.Prenom class="circle">*@
                            @Html.DisplayFor(modelItem => msg.Message)
                        </div>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td class="bubble you z-depth-1">
                        <div>
                            <i class="material-icons">person_pin</i>
                            @*<img src="" alt=@msg.AuteurContenu.Profil.Prenom class="circle">*@
                            @Html.DisplayFor(modelItem => msg.Message)
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            }
            @*<div class="right-align">
                    @date
                </div>*@
        }
    </tbody>
</table>